[init]
  templatedir = ~/.git_template
[alias]
  amend     = commit --amend --reuse-message=HEAD
  branches  = branch -avv
  ca        = !git add -A && git commit -av
  changelog = !git-changelog
  churn     = !git-churn
  co        = checkout
  dm        = "!git branch --merged | grep -v '^*' | grep -v 'development' | xargs -n 1 git branch -d"
  go        = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
  logg      = log --color --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  mt        = mergetool
  remotes   = remote -v
  rewrite   = "!r() { git rebase -i HEAD~$1; }; r"
  s         = status -sb
  tags      = tag -l
  uncommit  = reset --soft HEAD^
  unstage   = reset
  wtf       = !git-wtf
[apply]
  whitespace = fix
[core]
  excludesfile   = ~/.gitignore
  whitespace     = space-before-tab,-indent-with-non-tab,trailing-space
  trustctime     = false
  editor         = mvim -v -N
[color]
  ui          = auto
  diff        = auto
  status      = auto
  branch      = auto
  interactive = auto
  grep        = auto
[commit]
  template = ~/.gitmessage
[diff]
  renames = copies
  tool    = vimdiff
[fetch]
  prune = true
[help]
  autocorrect = 1
[mergetool]
  prompt     = false
	keepBackup = false
[mergetool "vimdiff"]
  cmd="vim -c 'Gdiff' $MERGED"     # use fugitive.vim for 3-way merge
[merge]
  ff        = only
  summary   = true
  verbosity = 1
  tool      = vimdiff
[push]
  default = upstream
[pull]
  rebase = true
[url "git@github.com:"]
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf     = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[user]
	email = jim@janders223.com
	name  = Jim Anders
[github]
	user = janders223
[credential]
	helper = osxkeychain
[rebase]
	autostash = true
[stash]
	showPatch = true
