[alias]
  amend     = commit --amend --reuse-message=HEAD
  branches  = branch -avv
  ca        = !git add -A && git commit -av
  changelog = !git-changelog
  churn     = !git-churn
  co        = checkout
  dm        = "!git branch --merged | grep -v '^*' | grep -v 'development' | xargs -n 1 git branch -d"
  go        = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
  logg      = log --color --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  mt        = mergetool
  rewrite   = "!r() { git rebase -i HEAD~$1; }; r"
  remotes   = remote -v
  s         = status -sb
  tags      = tag -l
  uncommit  = reset --soft HEAD^
  unstage   = reset
  wtf       = !git-wtf
[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix
[core]
  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false
  editor = mvim -v -N
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
[commit]
  template = ~/.gitmessage
[diff]
  # Detect copies as well as renames
  renames = copies
  tool = vimdiff
[fetch]
  prune = true
[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1
[mergetool]
  prompt = false
	keepBackup = false
[mergetool "vimdiff"]
  cmd="vim -c 'Gdiff' $MERGED"     # use fugitive.vim for 3-way merge
[merge]
  ff = only
  summary = true
  verbosity = 1
  tool = vimdiff
[push]
  default = upstream
[pull]
  rebase = true
# URL shorthands
[url "git@github.com:"]
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[user]
	email = jim@janders223.com
	name = Jim Anders
[github]
	user = janders223
[credential]
	helper = osxkeychain
